#ðŸ“Œ ExtracciÃ³n

In [48]:
import numpy as np

In [28]:
import pandas as pd
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

df = pd.read_json(url)
df_expanded = pd.json_normalize(df.to_dict(orient="records")) #Necesita un diccionario nativo para comenzar a aplanar los datos
df_expanded.sample(5)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
4689,6421-SZVEM,No,Female,0,Yes,Yes,28,Yes,No,Fiber optic,...,No,No,No,No,Yes,One year,Yes,Bank transfer (automatic),82.85,2320.8
1156,1641-BYBTK,No,Male,0,No,Yes,6,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,20.20,98.35
7169,9853-JFZDU,No,Female,0,Yes,No,35,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Electronic check,56.85,1861.1
2688,3727-OWVYD,No,Male,0,No,No,35,Yes,No,DSL,...,Yes,Yes,No,No,No,One year,No,Mailed check,61.20,2021.2
747,1069-XAIEM,Yes,Female,1,No,No,1,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.05,85.05

## Verificando si hay valores nulos/ausentes/nan

In [26]:
df_expanded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## Verificando si hay valores duplicados

In [34]:
duplicados = df_expanded.duplicated()
duplicados.sum()

np.int64(0)

## Inconsistencias (formatos,condiciones,etc)

In [38]:
columnas_de_interes = list(df_expanded.columns)
columnas_de_interes

['customerID',
 'Churn',
 'customer.gender',
 'customer.SeniorCitizen',
 'customer.Partner',
 'customer.Dependents',
 'customer.tenure',
 'phone.PhoneService',
 'phone.MultipleLines',
 'internet.InternetService',
 'internet.OnlineSecurity',
 'internet.OnlineBackup',
 'internet.DeviceProtection',
 'internet.TechSupport',
 'internet.StreamingTV',
 'internet.StreamingMovies',
 'account.Contract',
 'account.PaperlessBilling',
 'account.PaymentMethod',
 'account.Charges.Monthly',
 'account.Charges.Total']

In [46]:
valores_unicos = {col: df_expanded[col].unique() for col in df_expanded.columns}
valores_unicos

{'customerID': array(['0002-ORFBO', '0003-MKNFE', '0004-TLHLJ', ..., '9992-UJOEL',
        '9993-LHIEB', '9995-HOTOH'], dtype=object),
 'Churn': array(['No', 'Yes', ''], dtype=object),
 'customer.gender': array(['Female', 'Male'], dtype=object),
 'customer.SeniorCitizen': array([0, 1]),
 'customer.Partner': array(['Yes', 'No'], dtype=object),
 'customer.Dependents': array(['Yes', 'No'], dtype=object),
 'customer.tenure': array([ 9,  4, 13,  3, 71, 63,  7, 65, 54, 72,  5, 56, 34,  1, 45, 50, 23,
        55, 26, 69, 11, 37, 49, 66, 67, 20, 43, 59, 12, 27,  2, 25, 29, 14,
        35, 64, 39, 40,  6, 30, 70, 57, 58, 16, 32, 33, 10, 21, 61, 15, 44,
        22, 24, 19, 47, 62, 46, 52,  8, 60, 48, 28, 41, 53, 68, 51, 31, 36,
        17, 18, 38, 42,  0]),
 'phone.PhoneService': array(['Yes', 'No'], dtype=object),
 'phone.MultipleLines': array(['No', 'Yes', 'No phone service'], dtype=object),
 'internet.InternetService': array(['DSL', 'Fiber optic', 'No'], dtype=object),
 'internet.OnlineSecurity': array(['No', 'Yes', 'No internet service'], dtype=object),
 'internet.OnlineBackup': array(['Yes', 'No', 'No internet service'], dtype=object),
 'internet.DeviceProtection': array(['No', 'Yes', 'No internet service'], dtype=object),
 'internet.TechSupport': array(['Yes', 'No', 'No internet service'], dtype=object),
 'internet.StreamingTV': array(['Yes', 'No', 'No internet service'], dtype=object),
 'internet.StreamingMovies': array(['No', 'Yes', 'No internet service'], dtype=object),
 'account.Contract': array(['One year', 'Month-to-month', 'Two year'], dtype=object),
 'account.PaperlessBilling': array(['Yes', 'No'], dtype=object),
 'account.PaymentMethod': array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
        'Bank transfer (automatic)'], dtype=object),
 'account.Charges.Monthly': array([65.6 , 59.9 , 73.9 , ..., 91.75, 68.8 , 67.85]),
 'account.Charges.Total': array(['593.3', '542.4', '280.85', ..., '742.9', '4627.65', '3707.6'],
       dtype=object)}

In [47]:
vacios = (df_expanded == '').sum()
vacios

customerID                     0
Churn                        224
customer.gender                0
customer.SeniorCitizen         0
customer.Partner               0
customer.Dependents            0
customer.tenure                0
phone.PhoneService             0
phone.MultipleLines            0
internet.InternetService       0
internet.OnlineSecurity        0
internet.OnlineBackup          0
internet.DeviceProtection      0
internet.TechSupport           0
internet.StreamingTV           0
internet.StreamingMovies       0
account.Contract               0
account.PaperlessBilling       0
account.PaymentMethod          0
account.Charges.Monthly        0
account.Charges.Total          0
dtype: int64

In [51]:
df_expanded.replace('', np.nan, inplace=True)
vacios = (df_expanded == '').sum()
vacios

customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64

In [52]:
datos_limpio = df_expanded.dropna()
datos_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer.gender            7043 non-null   object
 3   customer.SeniorCitizen     7043 non-null   int64
 4   customer.Partner           7043 non-null   object
 5   customer.Dependents        7043 non-null   object
 6   customer.tenure            7043 non-null   int64
 7   phone.PhoneService         7043 non-null   object
 8   phone.MultipleLines        7043 non-null   object
 9   internet.InternetService   7043 non-null   object
 10  internet.OnlineSecurity    7043 non-null   object
 11  internet.OnlineBackup      7043 non-null   object
 12  internet.DeviceProtection  7043 non-null   object
 13  internet.TechSupport       7043 non-null   object
 14  internet.StreamingTV       7043 non-null   object
 15  internet.StreamingMovies   7043 non-null   object
 16  account.Contract           7043 non-null   object
 17  account.PaperlessBilling   7043 non-null   object
 18  account.PaymentMethod      7043 non-null   object
 19  account.Charges.Monthly    7043 non-null   float64
 20  account.Charges.Total      7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

#ðŸ”§ TransformaciÃ³n

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final