#ðŸ“Œ ExtracciÃ³n

In [28]:
import pandas as pd
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

df = pd.read_json(url)
df_expanded = pd.json_normalize(df.to_dict(orient="records")) #Necesita un diccionario nativo para comenzar a aplanar los datos
df_expanded.sample(5)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
4689,6421-SZVEM,No,Female,0,Yes,Yes,28,Yes,No,Fiber optic,...,No,No,No,No,Yes,One year,Yes,Bank transfer (automatic),82.85,2320.8
1156,1641-BYBTK,No,Male,0,No,Yes,6,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,20.20,98.35
7169,9853-JFZDU,No,Female,0,Yes,No,35,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Electronic check,56.85,1861.1
2688,3727-OWVYD,No,Male,0,No,No,35,Yes,No,DSL,...,Yes,Yes,No,No,No,One year,No,Mailed check,61.20,2021.2
747,1069-XAIEM,Yes,Female,1,No,No,1,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.05,85.05

## Verificando si hay valores nulos/ausentes/nan

In [26]:
df_expanded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

## Verificando si hay valores duplicados

In [34]:
duplicados = df_expanded.duplicated()
duplicados.sum()

np.int64(0)

## Inconsistencias (formatos,condiciones,etc)

In [38]:
columnas_de_interes = list(df_expanded.columns)
columnas_de_interes

['customerID',
 'Churn',
 'customer.gender',
 'customer.SeniorCitizen',
 'customer.Partner',
 'customer.Dependents',
 'customer.tenure',
 'phone.PhoneService',
 'phone.MultipleLines',
 'internet.InternetService',
 'internet.OnlineSecurity',
 'internet.OnlineBackup',
 'internet.DeviceProtection',
 'internet.TechSupport',
 'internet.StreamingTV',
 'internet.StreamingMovies',
 'account.Contract',
 'account.PaperlessBilling',
 'account.PaymentMethod',
 'account.Charges.Monthly',
 'account.Charges.Total']

In [42]:
df_expanded['customerID'].value_counts()

customerID
9995-HOTOH    1
0002-ORFBO    1
0003-MKNFE    1
9970-QBCDA    1
9968-FFVVH    1
             ..
0014-BMAQU    1
0013-SMEOE    1
0013-MHZWF    1
0013-EXCHZ    1
0011-IGKFF    1
Name: count, Length: 7267, dtype: int64

In [43]:
df_expanded['Churn'].value_counts()

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [44]:
df_expanded['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [29]:
df.isnull().sum()

customerID    0
Churn         0
customer      0
phone         0
internet      0
account       0
dtype: int64

## Expansion de columnas

#ðŸ”§ TransformaciÃ³n

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final